@model Database.Entities.Song
@section Styles {
    <link href="@Url.Content("~/css/SongDetails.css")" rel="stylesheet" type="text/css" />
}
@{
    ViewData["Title"] = "Details";
    var returnUrl = @Context.Request.Path;
   
}

<div id="test">

</div>



<div class="container">
    <div class="align-content-center">
    <iframe id="SongId" alt="Song@(Model.Id)"  style="border-radius:12px" src="https://open.spotify.com/embed/track/@(Model.Id)?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
</div>
    <div class="row mt-5">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h3 id="CommentsHeader"  >@Model.Comments.Count() Comments </h3>
            <ul id="CommentList"   class ="comment-list comment-top" list = "@Model.Comments" count="0">
                @foreach(var comment in Model.Comments.Where(c =>c.Parent is null).OrderBy(c=>c.CreatedOn))
                {
                    <li class="comment-item">
                        <div class="comment-body">
                            <h5 class="commenter-name">@comment.Author.UserName</h5>
                            <div class="comment-date">@comment.CreatedOn.ToShortDateString() @comment.CreatedOn.ToShortTimeString()</div>
                            <p class="comment-message">@comment.Content</p>
                            @if(!User.Identity.IsAuthenticated)
                            {
                                <a  asp-area="Identity" class="btn-primary btn" asp-page="/Account/Login" asp-route-ReturnUrl="@(returnUrl)">Login to show replies</a>
                            }
                            else
                            {
                                <a alt="@(comment.Id)"  onclick="showReplies(this)" href="#"  class="btn-primary btn">Show replies</a>                         
                            }
                        </div>
                        <ul class="comment-list comment-replies " id="@(comment.Id)" list="@comment.Comments" counts="0" style="margin-left:30px;top:0;">
                            @foreach(var reply in comment.Comments)
                            {
                             <li class ="comment" >
                                <div class="comment-body">
                                     <h5 class="commenter-name">@reply.Author.UserName</h5>
                                    <div class="comment-date">@reply.CreatedOn.ToShortDateString() @comment.CreatedOn.ToShortTimeString()</div>
                                     <p class="comment-message">@reply.Content</p>
                                </div>
                            </li>
                            }
                          @if(User.Identity.IsAuthenticated)
                            {
                                <div  )">
                                  form 1
                                </div>

                            }
                        </ul>


                    </li>
                }
            </ul>
            <div id="CommentSong">
            @if(User.Identity.IsAuthenticated)
            {
             @*   clamims 
                http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier
                http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name
                http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress*@
                <div>
                  <input type="hidden"  name="AuthorId" value="@User.Claims.SingleOrDefault(x=>x.Type=="http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress").Value">
                  <input type="hidden" name="songId" value="@Model.Id">
                  <input type="hidden" name="parent" value="null">
                 <div class="form-group">
                     <h6>Comment</h6>
                     <textarea  name="msg"></textarea>
                 </div>
                   <button class="btn btn-primary" onclick="send()">Send</button>
                </div>
            }
            else
            {
                <a  class="btn-primary btn"  asp-area="Identity" asp-page="/Account/Login" asp-route-ReturnUrl="@(returnUrl)">Login to comment this song</a>

            }


            </div>
        </div>
    </div>
</div>




<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/signalRFunctions.js" ></script>


