@model SpotifySocialMedia.Models.SongItem

@{
    ViewData["Title"] = "Details";
}

@*<input type="text" id="SongId" value="@(Model.Id)" />
*@<div class="container">
    <div class="row">
        <div class="col-2 offset-10">
            <div class="form-group">
                <div>
                <a href="#" id="joinGroup" onclick="join(this)" alt = "@(Model.Id)"> See Comments</a>
            </div>
                <label>Enter your name:</label>
                <input class="form-control" type="text" name="username" />

            </div>
             <div class="form-group">
                <label>Enter Message</label>
                <textarea name="msg"></textarea>

            </div>
            <button class="btn btn-primary" onclick="send()">Send</button>

            <div>
                <ul class="messages">


                </ul>

            </div>
        </div>
    </div>
</div>




<div class="align-content-center">
    <iframe id="SongId" alt="@(Model.Id)"  style="border-radius:12px" src="https://open.spotify.com/embed/track/@(Model.Id)?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
</div>
@*<div class="row">
    <div class="card m-1" style="width:50%;">
        <div class="car-body">
            <h5 class="card-title">@Html.DisplayFor(modelItem =>Model.Artists)</h5>
            <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem =>Model.Name)</h6>
            <p class="card-text">@Html.DisplayFor(modelItem =>Model.Date)</p>
            <img src="@Html.DisplayFor(modelItem=>Model.ImageUrl)" alt="realese picture" /><br />
            <a href="@Html.DisplayFor(modelItem=>Model.Link)">Listen</a>
        </div>
    </div>
</div>*@


<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/signalRFunctions.js" ></script>


